.git
.github
.vscode
.idea
node_modules
vendor
public/build
public/hot
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
docs/screenshots
.env
.env.*
!.env.example
*.log
docker-compose.yml
database/database.sqlite
